## political sentimental analysis

The dataset has three sentiments namely, negative(-1), neutral(0), and positive(+1). It contains two fields for the tweet and label.

In [47]:
import pandas as pd

In [48]:
twitter_path = r"E:\coding\CSV\sentiment analysis\Twitter_Data.csv"
reddit_path = r"E:\coding\CSV\sentiment analysis\Reddit_Data.csv"

df1 = pd.read_csv(twitter_path)
df2 = pd.read_csv(reddit_path)

In [49]:
df1

                                               clean_text  category
0       when modi promised “minimum government maximum...      -1.0
1       talk all the nonsense and continue all the dra...       0.0
2       what did just say vote for modi  welcome bjp t...       1.0
3       asking his supporters prefix chowkidar their n...       1.0
4       answer who among these the most powerful world...       1.0
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...      -1.0
162976  dear rss terrorist payal gawar what about modi...      -1.0
162977  did you cover her interaction forum where she ...       0.0
162978  there big project came into india modi dream p...       0.0
162979  have you ever listen about like gurukul where ...       1.0

[162980 rows x 2 columns]

In [50]:
df2

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37249 rows x 2 columns]

In [51]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162980 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162976 non-null  object
 1   category    162973 non-null  float64
dtypes: float64(1), object(1)
memory usage: 2.5+ MB

In [52]:
df1.dropna(inplace=True)
df1["category"] = df1["category"].astype(int)
df1['clean_text'] = df1['clean_text'].astype(str)
df1.rename(columns={'clean_text': 'clean_comment'}, inplace = True)

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162969 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   clean_comment  162969 non-null  object
 1   category       162969 non-null  int32
dtypes: int32(1), object(1)
memory usage: 3.1+ MB

In [54]:
df2.dropna(inplace=True)
df2["category"] = df2["category"].astype(int)
df2['clean_comment'] = df2['clean_comment'].astype(str)

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37149 entries, 0 to 37248
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clean_comment  37149 non-null  object
 1   category       37149 non-null  int32
dtypes: int32(1), object(1)
memory usage: 725.6+ KB

In [56]:
union_df = pd.concat([df1,df2])
union_df

                                           clean_comment  category
0      when modi promised “minimum government maximum...        -1
1      talk all the nonsense and continue all the dra...         0
2      what did just say vote for modi  welcome bjp t...         1
3      asking his supporters prefix chowkidar their n...         1
4      answer who among these the most powerful world...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[200118 rows x 2 columns]

In [57]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(union_df.clean_comment, union_df.category, test_size=0.25)

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

In [59]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

In [60]:
clf1 = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("model1", KNeighborsClassifier(n_neighbors=5))
])
clf2 = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("model2", GaussianNB())
])
clf3 = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("model3", LogisticRegression())
])
clf4 = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("model4", DecisionTreeClassifier())
])
clf5 = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("model5", RandomForestClassifier())
])
clf6 = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("model6", MultinomialNB())
])

In [62]:
clf1.fit(X_train, Y_train)
# clf2.fit(X_train, Y_train)
clf3.fit(X_train, Y_train)
clf4.fit(X_train, Y_train)
clf5.fit(X_train, Y_train)
clf6.fit(X_train, Y_train)

c:\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(