## political sentimental analysis

The dataset has three sentiments namely, negative(-1), neutral(0), and positive(+1). It contains two fields for the tweet and label.

In [1]:
import pandas as pd

In [2]:
twitter_path = r"E:\coding\CSV\sentiment analysis\Twitter_Data.csv"
reddit_path = r"E:\coding\CSV\sentiment analysis\Reddit_Data.csv"

df1 = pd.read_csv(twitter_path)
df2 = pd.read_csv(reddit_path)

In [3]:
df1

                                               clean_text  category
0       when modi promised “minimum government maximum...      -1.0
1       talk all the nonsense and continue all the dra...       0.0
2       what did just say vote for modi  welcome bjp t...       1.0
3       asking his supporters prefix chowkidar their n...       1.0
4       answer who among these the most powerful world...       1.0
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...      -1.0
162976  dear rss terrorist payal gawar what about modi...      -1.0
162977  did you cover her interaction forum where she ...       0.0
162978  there big project came into india modi dream p...       0.0
162979  have you ever listen about like gurukul where ...       1.0

[162980 rows x 2 columns]

In [4]:
df2

                                           clean_comment  category
0       family mormon have never tried explain them t...         1
1      buddhism has very much lot compatible with chr...         1
2      seriously don say thing first all they won get...        -1
3      what you have learned yours and only yours wha...         0
4      for your own benefit you may want read living ...         1
...                                                  ...       ...
37244                                              jesus         0
37245  kya bhai pure saal chutiya banaya modi aur jab...         1
37246              downvote karna tha par upvote hogaya          0
37247                                         haha nice          1
37248             facebook itself now working bjp’ cell          0

[37249 rows x 2 columns]

In [11]:
df1.dropna(inplace=True)
df2.dropna(inplace=True)

In [10]:
df1["category"] = df1["category"].astype(int)
df1

                                               clean_text  category
0       when modi promised “minimum government maximum...        -1
1       talk all the nonsense and continue all the dra...         0
2       what did just say vote for modi  welcome bjp t...         1
3       asking his supporters prefix chowkidar their n...         1
4       answer who among these the most powerful world...         1
...                                                   ...       ...
162975  why these 456 crores paid neerav modi not reco...        -1
162976  dear rss terrorist payal gawar what about modi...        -1
162977  did you cover her interaction forum where she ...         0
162978  there big project came into india modi dream p...         0
162979  have you ever listen about like gurukul where ...         1

[162969 rows x 2 columns]

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 162969 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162969 non-null  object
 1   category    162969 non-null  int32
dtypes: int32(1), object(1)
memory usage: 3.1+ MB