# problem statement
 will coustomer buy the product under following conditions which are:

    1. type of day -> weekday, hoilday, weekend

    2. avail of discount
 
    3. avail of free delivery
 
 target value ---> purchased or not purchased

In [17]:
# from dataframe manipulation
import pandas as pd

In [18]:
path = r"E:\coding\CSV\Naive_Bayes_Dataset.xlsx"
df = pd.read_excel(path)
df.shape

(30, 4)

In [19]:
# converting yes or no in binary format i.e 1 or 0
df.replace({"Yes":1, "No":0}, inplace=True)

# converting type of day in numerical value
df["Day"].replace({"Weekday":1, "Holiday":2, "Weekend":3}, inplace=True)

df

C:\Users\HP\AppData\Local\Temp\ipykernel_13952\2452352786.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({"Yes":1, "No":0}, inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_13952\2452352786.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Day"].replace({"Weekday":1, "Holiday":2, "Weekend":3}, inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_13952\2452352786.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Day"].replace({"Weekday":1, "Holiday":2, "Weekend":3}, inplace=True)

    Day  Discount  Free Delivery  Purchase
0     1         1              1         1
1     1         1              1         1
2     1         0              0         0
3     2         1              1         1
4     3         1              1         1
5     2         0              0         0
6     3         1              0         1
7     1         1              1         1
8     3         1              1         1
9     2         1              1         1
10    2         0              1         1
11    2         0              0         0
12    3         1              1         1
13    2         1              1         1
14    2         1              1         1
15    1         1              1         1
16    2         0              1         1
17    1         1              0         1
18    3         0              0         1
19    3         0              1         1
20    1         1              1         1
21    3         1              1         0
22    2         0              1         1
23    1         1              1         1
24    2         0              0         0
25    1         0              1         0
26    1         1              1         1
27    1         1              1         1
28    2         1              1         1
29    3         1              1         1

In [20]:
# feature are independent value
feature = df[["Day","Discount","Free Delivery"]]

# target are the dependent value
target = df[["Purchase"]]

In [21]:
feature

    Day  Discount  Free Delivery
0     1         1              1
1     1         1              1
2     1         0              0
3     2         1              1
4     3         1              1
5     2         0              0
6     3         1              0
7     1         1              1
8     3         1              1
9     2         1              1
10    2         0              1
11    2         0              0
12    3         1              1
13    2         1              1
14    2         1              1
15    1         1              1
16    2         0              1
17    1         1              0
18    3         0              0
19    3         0              1
20    1         1              1
21    3         1              1
22    2         0              1
23    1         1              1
24    2         0              0
25    1         0              1
26    1         1              1
27    1         1              1
28    2         1              1
29    3         1              1

In [22]:
target

    Purchase
0          1
1          1
2          0
3          1
4          1
5          0
6          1
7          1
8          1
9          1
10         1
11         0
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         0
22         1
23         1
24         0
25         0
26         1
27         1
28         1
29         1

In [23]:
# spliting data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.20, random_state=4)

In [24]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(24, 3)
(6, 3)
(24, 1)
(6, 1)

In [25]:
# using naive bayes model for prediction
from  sklearn.naive_bayes import GaussianNB

# GaussianNB model for prediction is used 
nb_model = GaussianNB()

In [26]:
nb_model = nb_model.fit(X_train,y_train)
nb_model

c:\Python311\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [27]:
nb_model.score(X_test,y_test)

0.6666666666666666

In [28]:
nb_model.predict(X_test)

array([0, 1, 1, 1, 1, 1], dtype=int64)

In [29]:
from sklearn.tree import DecisionTreeClassifier

DTC = DecisionTreeClassifier()

DTC = DTC.fit(X_train,y_train)
DTC

DecisionTreeClassifier()

In [30]:
DTC.score(X_test,y_test)

0.6666666666666666