# problem statement
 will coustomer buy the product under following conditions which are:

    1. type of day -> weekday, hoilday, weekend

    2. avail of discount
 
    3. avail of free delivery
 
 target value ---> purchased or not purchased

In [1]:
# from dataframe manipulation
import pandas as pd

In [2]:
path = r"E:\coding\CSV\Naive_Bayes_Dataset.xlsx"
df = pd.read_excel(path)
df

        Day Discount Free Delivery Purchase
0   Weekday      Yes           Yes      Yes
1   Weekday      Yes           Yes      Yes
2   Weekday       No            No       No
3   Holiday      Yes           Yes      Yes
4   Weekend      Yes           Yes      Yes
5   Holiday       No            No       No
6   Weekend      Yes            No      Yes
7   Weekday      Yes           Yes      Yes
8   Weekend      Yes           Yes      Yes
9   Holiday      Yes           Yes      Yes
10  Holiday       No           Yes      Yes
11  Holiday       No            No       No
12  Weekend      Yes           Yes      Yes
13  Holiday      Yes           Yes      Yes
14  Holiday      Yes           Yes      Yes
15  Weekday      Yes           Yes      Yes
16  Holiday       No           Yes      Yes
17  Weekday      Yes            No      Yes
18  Weekend       No            No      Yes
19  Weekend       No           Yes      Yes
20  Weekday      Yes           Yes      Yes
21  Weekend      Yes           Yes       No
22  Holiday       No           Yes      Yes
23  Weekday      Yes           Yes      Yes
24  Holiday       No            No       No
25  Weekday       No           Yes       No
26  Weekday      Yes           Yes      Yes
27  Weekday      Yes           Yes      Yes
28  Holiday      Yes           Yes      Yes
29  Weekend      Yes           Yes      Yes

In [3]:
# converting yes or no in binary format i.e 1 or 0
df.replace({"Yes":1, "No":0}, inplace=True)

# converting type of day in numerical value
df["Day"].replace({"Weekday":1, "Holiday":2, "Weekend":3}, inplace=True)

df

    Day  Discount  Free Delivery  Purchase
0     1         1              1         1
1     1         1              1         1
2     1         0              0         0
3     2         1              1         1
4     3         1              1         1
5     2         0              0         0
6     3         1              0         1
7     1         1              1         1
8     3         1              1         1
9     2         1              1         1
10    2         0              1         1
11    2         0              0         0
12    3         1              1         1
13    2         1              1         1
14    2         1              1         1
15    1         1              1         1
16    2         0              1         1
17    1         1              0         1
18    3         0              0         1
19    3         0              1         1
20    1         1              1         1
21    3         1              1         0
22    2         0              1         1
23    1         1              1         1
24    2         0              0         0
25    1         0              1         0
26    1         1              1         1
27    1         1              1         1
28    2         1              1         1
29    3         1              1         1

In [4]:
# feature are independent value
feature = df[["Day","Discount","Free Delivery"]]

# target are the dependent value
target = df[["Purchase"]]

In [5]:
feature

    Day  Discount  Free Delivery
0     1         1              1
1     1         1              1
2     1         0              0
3     2         1              1
4     3         1              1
5     2         0              0
6     3         1              0
7     1         1              1
8     3         1              1
9     2         1              1
10    2         0              1
11    2         0              0
12    3         1              1
13    2         1              1
14    2         1              1
15    1         1              1
16    2         0              1
17    1         1              0
18    3         0              0
19    3         0              1
20    1         1              1
21    3         1              1
22    2         0              1
23    1         1              1
24    2         0              0
25    1         0              1
26    1         1              1
27    1         1              1
28    2         1              1
29    3         1              1

In [6]:
target

    Purchase
0          1
1          1
2          0
3          1
4          1
5          0
6          1
7          1
8          1
9          1
10         1
11         0
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         0
22         1
23         1
24         0
25         0
26         1
27         1
28         1
29         1

In [7]:
# spliting data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.40, random_state=4)

In [8]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(18, 3)
(12, 3)
(18, 1)
(12, 1)

In [9]:
# using naive bayes model for prediction
from  sklearn.naive_bayes import GaussianNB

# GaussianNB model for prediction is used 
nb_model = GaussianNB()

In [10]:
nb_model = nb_model.fit(X_train,y_train)
nb_model

c:\Python311\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [11]:
nb_model.score(X_test,y_test)

0.8333333333333334

In [12]:
nb_model.predict(X_test)

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [13]:
y_test.values.reshape(1,-1)

array([[0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1]], dtype=int64)